@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200italic,200,400,400italic,700,700italic);

/* 
Meyerweb.com. (2016). CSS Tools: Reset CSS. [online] 
Available at: http://meyerweb.com/eric/tools/css/reset/ 
[Accessed 15 Jun. 2016]. */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

/* This is the actual CSS reset code: */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Initial display properties */
.staffProfiles {
	display: none;
}

.bus {
	display: none;
}

body {
	color: white;
}

/* Universal stylings */
.X {
	float: right;
	background-color: rgba(0,0,0,0.7);
	border-color: rgba(255,255,255,0.4);
	border-width: 1px;
	color: grey;
	font-size: 2.5vh;
}



.linkBack {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 15px;
	background-color: black;
	padding-right: 5px;
	text-align: right;
}

.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-style: italic;
}

h2 {
	font-size: 2vw;
}

.italic {
	font-style: italic;
}