/* 
################################################################################
#                            Start CSS Code here                               #
################################################################################
*/
/* 
################################################################################
#                            ID CSS Code                                       #
################################################################################
*/
#navWrapper {
	display: block;
	width: 80vh;
	position: fixed;
	/*bottom: 10vh;*/
	left: 0;
	/*margin-left: 3%;*/
	/*margin: auto;*/
	/*margin-top: -17.5vh;*/
	margin-left: 3%;
	/*height: 17.5vh;*/
	min-width: 800px;
	/*height: 20vh;*/
	position : absolute;
    bottom : 5vh;
    height : auto;
    margin-top : auto;
}

#aboutPage, #supportPage, #servicesPage, #contactPage, #assessmentPage {
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 95%;
	/*height: 400px;*/
	/*min-height: 400px;*/
	height: 55vh;
	/*min-height: 55vh;*/
}

#col-wrap {
	/*background-color: blue;*/
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 95%;
	/*height: 550px;*/
	/*min-height: 500px*/
	height: 80vh;
	/*min-height: 55vh;*/
}

#wrapper {
	position: relative;
	max-width: 1920px;
	height: 100vh;
	/*min-height: 800px;*/
	width: 100vw;
	overflow-x: hidden;
}

.badges {
	height: 50px;
	width: 50px;
	margin: auto;
	border-radius: 5px;
	height: 5vh;
	width: 5vh;
}

.workhab {
	height: 5vh;
	width: 10vh;
}

/* 
################################################################################
#                            End ID  Code                                      #
################################################################################
*/

/* 
################################################################################
#                            Start CLASS  Code                                 #
################################################################################
*/

/* Initial display properties for dynamic displaying of content */

html {
    background: url(/img/bg_web.jpg) no-repeat center center fixed;
    background-size: cover;
}

.col1, .col2, .col3, .col4 {
	display: none; /* fades in with javascript start() */
	position: relative;
	float: left;
	/*padding-bottom: 5vh;*/
	width: calc(95% / 4);
	height: 58vh;
	background-color: rgba(0,0,0,0.7);
	overflow-x: hidden;
	overflow-y: scroll;
}

.col1:hover, .col2:hover, .col3:hover, .col4:hover {
	background-color: rgba(0,0,0,0.8);
    transform: scale(1.02);
    transition: all 300ms;
}

.col-blurb {
	height: 100%;
	position: relative;
	bottom: 0;
	width: 90%;
	padding: 5%;
	background-color: rgba(0, 0, 0, .5);
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.ch1, .ch2, .ch3, .ch4, .ch5 {
	background: rgb(40,40,40);
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	font-size: 2.2em;
	height: auto; 
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}


.ch2, .ch3, .ch4, .ch5 {
	margin-left: calc(1.25%-6px);
}

.col2, .col3, .col4, .col5 {
	margin-left: 1.25%;
}

.CLimage {
	max-width: 100%;
	width:100%;
	height: auto;
}

.relative {
	position: relative;
}

.centerText {
	position: absolute;
	margin: 50%;
}

.clickable {
	cursor: pointer;
}

/* Navigation bar stylings */
.ascent {
	font-size: 3em;
}

.hrBottom {
	width: 90%;
	margin: 0 auto;
}

.phrase, .ascent {
	padding: 5px 0 10px 0px;
}

.phrase {
	font-size: 1.2em;
}

nav {
	display: none;
}

.navMain {
	display: inline-block;
	border-width: 0px;
	width: 12%;
	min-width: 120px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: pointer;
	border-right-width:1px;
	border-color: white;
	border-style: solid;
}

.navSelected {
	/*border-bottom: 2px solid white;*/
	text-decoration: underline;
}


.navHover {
	background-color: red;
}

.navMain:hover {
	/*text-shadow: 0 0 3px #FFF, 0 0 5px #AAA;*/
	    background: -webkit-linear-gradient(80deg, rgba(240,240,240,.2), rgba(240,240,240,.1), rgba(240,240,240,0), rgba(240,240,240,.1), rgba(240,240,240,.2)); /* For Safari 5.1 to 6.0 */
                              background: -o-linear-gradient(80deg, rgba(240,240,240,.2), rgba(240,240,240,.1), rgba(240,240,240,0), rgba(240,240,240,.1), rgba(240,240,240,.2)); /* For Opera 11.1 to 12.0 */
                              background: -moz-linear-gradient(80deg, rgba(240,240,240,.2), rgba(240,240,240,.1), rgba(240,240,240,0), rgba(240,240,240,.1), rgba(240,240,240,.2)); /* For Firefox 3.6 to 15 */
                              background: linear-gradient(80deg, rgba(240,240,240,.2), rgba(240,240,240,.1), rgba(240,240,240,0), rgba(240,240,240,.1), rgba(240,240,240,.2)); /* Standard syntax */
}

.linkBack a {
	color: white;
	font-size: .6em;
	text-decoration: none;
}



.mainHeading {
	font-size: 4em;
	font-weight: 400;
	text-align: center;
	padding-left: 4.5vw;
	background-color: rgba(0,0,0,0.9);
	border-top: 2px solid rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.5);
	border-right: 2px solid rgba(0,0,0,0.5);
}

.mainContent {
	padding: 1%;
	overflow-y: scroll;
	height: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.5);
	border-right: 2px solid rgba(0,0,0,0.5);
	background-color: rgba(0,0,0,0.7);
	word-spacing: 4px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	width: 92.75vw;
	margin: auto;
}

.mainP { /* change this to "mainP" */
}

.contentP {
	font-size: 1.2em;
	padding-left: 2vw;
}

.placeholder {
	float: left;
	width: auto;
	height: 30vh;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 15px;
}

.placeholderL {
	width: 90%;
	height: auto;
	padding-right: 1%;
	padding-bottom: 1%;
	margin: auto;
	display: block;
}

.page-header {
	font-size: 3em;
	text-align: center;
	padding-bottom: 1%;
	font-weight: 200;
	margin-bottom: 1%;
}

ul.mainP {
	padding-left: 40px;
}

ul.mainP li {
	list-style-type: circle;
	padding-left: 20px;	
}

.col-bullet {
	list-style-type: circle;
	padding-left: 20px;	
}

.close {
	position: absolute;
	right: 0;
}

.X {
	background-color: rgba(40,40,40, 1);
	color: white;
	/*border-width: 1px;*/
	/*border-style: groove;*/
	/*border-color: white;*/
}

.X:hover {
	background-color: white;
	color: black;
}

.bold {
	font-weight: bold;
}

/* 
################################################################################
#                            End CLASS  Code                                 #
################################################################################
*/

/* 
################################################################################
#                            Webkit  Code                                      #
################################################################################
*/

/* webkit for scroll bar */
::-webkit-scrollbar {
    width: 10px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); /* for chrome and safari*/
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,1); /* For Opera 11.1 to 12.0 */
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,1); /* For Firefox 3.6 to 15 */
	box-shadow: inset 0 0 6px rgba(0,0,0,1); /* Standard syntax */
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1); /* for chrome and safari*/
    -o-box-shadow: inset 0 0 6px rgba(200,200,200,1); /* For Opera 11.1 to 12.0 */
	-moz-box-shadow: inset 0 0 6px rgba(200,200,200,1); /* For Firefox 3.6 to 15 */
	box-shadow: inset 0 0 6px rgba(200,200,200,1); /* Standard syntax */
}

.centered {
	padding: 5%;
}

.staffName {
	font-size: 5vh;
	padding-top: 15px;
	padding-bottom: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	/*font-style: italic;*/
	text-align: left;
	/*background-color: rgba(0,0,0,0.6);*/
	width: 100%;
	margin-bottom: 5px;
	height: auto;
}

.staffName h3 {
	padding-top: 5px;
}

.text-center {
	text-align: center;
}

.blurb-button {
	height: 5vh;
	width: 100%;
	font-size: 2.5vh;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0.7);
	border-color: rgba(255,255,255,0.4);
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-weight: 300;
	/*font-style: italic;*/
	margin-top: 3px;
}

.blurb-button:hover {
	border-color: white;
	background-color: rgba(0,0,0,0.7);
	text-shadow: 0 0 1px #FFF, 0 0 4px #AAA;
}

.col-blurb-header {
	font-size: 3vh;
	background-color: rgba(0,0,0,0.5);
	height: 3vh;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin-top: -3px;
}

.blurb-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 2.5vh;
	font-style: italic;
	/*text-shadow: 0 0 1px #FFF, 0 0 4px #AAA;*/
	min-height: 10vh;
}

.blurb-text a {
	text-decoration: underline;
}

.show-menu {
	height: 5vh;
	width: 20%;
	font-size: 3.5vh;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0.7);
	border-color: rgba(255,255,255,0.4);
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-weight: 300;
	/*font-style: italic;*/
	position: fixed;
	vertical-align: middle;
	top: 45%;
	left: 40%;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.menu-button {
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hide-menu {
	height: 2.5vh;
	width: 100%;
	font-size: 1.5vh;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(255,255,255,0.4);
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-weight: 300;
	/*font-style: italic;*/
	position: fixed;
	vertical-align: middle;
	top: 0px;
	left: 0px;
	z-index: +100000;
}

.hide-menu:hover {
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
}

.text-left {
	float:left;
	width:50%;
}

hr {
	width: 80%;
	margin-left: 0;
	min-width: 800px;
}

#view1, #view2, #view3, #view4, #view5, #view6 {
	font-size: 1.1em;
}


hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #FFF; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #FFF; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
} 

#btnHideMenus {
	opacity: 0.1;
	position: fixed;
	top: 0px;
	right: 0vw;
	height: 5vh;
	width: 5vw;
	z-index: 10;
}

.title h1 {
	font-size: 5vh;
}

.mapPic {
	height: 55vh;
	width: 50vw;
	/*width: auto;*/
	margin: auto;
	padding: auto;
	display: block;
	float: right;
}

.contactDetails {
	float: left;
	width: 40vw;
	height: 55vh;
	line-height: 1.3;
	/*background-color: rgba(0,0,0,0.6);*/
	text-align: left;
}

.emailBox {
	width: 90%;
	height: 20%;
	margin: auto;
	padding: auto;
	display: block;
	text-align: left;
}

.inputBox {
	width: 90%;
	margin: auto;
	padding: auto;
	display: block;
	text-align: left;
}

.bold {
	font-weight: bold;
}

.contentHeader {
	font-size: 1.5em;
}

.center {
	text-align: center;
}

.heightAbove {
	padding-top: 5%;
}

.headerSpacing {
	margin-top: 2%;
}

.submitButton {
	width: 5vw;
	margin-left: 33vw;
}

form {
	position: relative;
}

.break {
    margin-bottom: 1.5vh;
}

.enquirySuccess {
	display: none;
}

.scrollTest {
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding: 3vh;
	font-size: 3vh;
	font-weight: lighter;
	line-height: 3vh;
}

.larger {
	font-size: 5vh;
}

.dotPoints {
	display: inline-block;
	height: auto;
	width: auto;
	text-align: left;
	list-style-type: circle;
	margin: 0 auto;
}

.dotPointsMain {
	display: inline-block;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.dotPointsMain a {
	float: left;
	width: 20%;
	margin: 0 auto;
}

a {
	color: white;
}

a:visited {
	color: #59F;
}

a:hover {
	color: orange;
}

.dotPointsMain2 a {
	display: inline-block;
	height: auto;
	width: auto;
	margin: 0 auto;
	padding-right: 20px;
}

.dotPointsMain3 a {
	display: inline-block;
	height: auto;
	width: auto;
	margin: 0 auto;
	padding-right: 20px;
}


/* 
################################################################################
#                            End CSS Code                                      #
################################################################################
*/