/* Tab Content - menucool.com */

ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
    background-color: rgba(0,0,0,0) !impotrant;
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid rgba(255,255,255,0.3);
    /*border-bottom-color:#B7B7B7;*/
    color: #FFF;
    background-color: rgba(0,0,0,1) !important;
    /*border-radius: 0px 0px 0 0;*/
    /*outline:none;*/
}
        
/*ul.tabs li a:visited*/
/*{*/
/*    color: #000;*/
/*}*/
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background: rgba(0,0,0,1) !important;
}
        
ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: black;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    text-decoration: none;
}
     

.tabcontents
{
    /*border: 1px solid rgba(255,255,255,0.3);*/
    padding: 5px;
    background-color: rgba(0,0,0,0);
    /*border-radius: 0 3px 3px 3px;*/
    height: auto;
    /*min-height: 37vh;*/
    position: relative;
}

.tabcontents-staff
{
    /*border: 1px solid rgba(255,255,255,0.3);*/
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.0);
    /*border-radius: 0 3px 3px 3px;*/
    height: auto;
    min-height: 40vh;
    position: relative;
    width: 100%;
    float: left;
}

.tabcontents-staffInfo
{
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    /*border-radius: 0 3px 3px 3px;*/
    height: auto;
    min-height: 40vh;
    position: relative;
    width: 45vw;
    float: left;
    height: 40vh;
    font-size: 1.2vw;
    line-height: 3vh;
    overflow-y: scroll;
}


/*.tabcontents-team {*/
/*    width: 45%;*/
/*    height: 100%;*/
/*    background: url('/img/ascentTeam.png') no-repeat center #eee;*/
/*    background-size: cover;*/
/*    float: left;*/
/*}*/

.tabcontents-blurb {
    float: left;
    width: 89.8vw;
    height: auto;
    margin-top: 1%;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    /*border-radius: 0 3px 3px 3px;*/
    height: auto;
    /*min-height: 40vh;*/
    position: relative;
    font-size: 1.2vw;
    line-height: 3vh;
    overflow-y: scroll;
}

.teamPic {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: auto;
    max-height: 40vh;
    position: absolute;
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.picRight {
    float: left;
    width: 43vw;
    height: calc(40vh + 20px);
    margin-left: 1.6%;
    border: solid 1px rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.6);
    position: relative;
}


ul.tabs li {
    background-color: rgba(0,0,0,0);
}

#view1 {
    width: 100%;
}

