html, body, #mWrapper {
	height: 100vh;
	width: 100vw;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: url(../img/mobileBG_web.jpg) no-repeat center center fixed;
	background-size: cover;
}

.backToTop {
	color: white;
	font-size: .8em;
	float: right;
}

.badges {
	height: 5vh;
	width: auto;
}

.contactDetails {
	text-align: center;
}

a {
	color: white;
}

.mainContent {
	font-size: 3em;
}

.notMobile {
	display: none;
	height: 0px;
}

.mHeader {
	height: 20vh;
}

.mAscent {
	text-align: center;
	font-size: 8em;
}

.mapPic {
	width: 80%;
	height: 30vh;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}

.mPhrase {
	text-align: center;
	font-size: 3em;
	font-weight: 400;
}

.collapsable {
	height: 80vw;
	position: relative;
}

.coll-tab {
	width: 98vw;
	height: 10vh;
	float: left;
}

.touchable {
	cursor: pointer;
}

.titleCell {
	height: 9vh;
	text-align: center;
	background-color: rgba( 0, 0, 0, .5);
	-webkit-box-shadow: 1vh 1vh 1vh #333;
	-moz-box-shadow: 1vh 1vh 1vh #333;
	box-shadow:1vh 1vh 1vh #333;
}

.mainContent .title {
	font-size: 1.2em;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	font-weight: 500;
}

.titleCell * {
	display: inline-block;
	line-height: 10vh;
}

.titleCell h1 {
	font-weight: 200;
	font-size: 5vh;
}

.titleCell img {
	height: 3vh;
	float: left;
	margin-top: 3.5vh;
	margin-left: 3.5vw;
}

.mainContent {
	height: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.4);
	padding-left: 3%;
	padding-right: 3%;
}

.staffName {
	font-size: 1.2em;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	font-weight: 500;
}